**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/publish
**/*.user
**/*.suo
**/*.{log,md}
**/TestResults
**/.env
**/.env.*
**/appsettings.*.local.json
email-outbox/
Jenkinsfile
Dockerfile
.dockerignore
