{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=AppLearning;Username=postgres;Password="
  },
  "AdminAccount": {
    "Email": "admin@applearning.local",
    "Password": "",
    "FullName": "Administrator"
  },
  "Email": {
    "Host": "smtp.gmail.com",
    "Port": 587,
    "UseSsl": true,
    "UserName": "",
    "Password": "",
    "FromAddress": "",
    "FromName": "AppLearningEnglish"
  },
  "Authentication": {
    "Google": {
      "ClientId": "",
      "ClientSecret": ""
    },
    "Facebook": {
      "AppId": "",
      "AppSecret": ""
    }
  }
}
